__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/
*.spec
*.manifest
*.toc
warn-*.txt
xref-*.html
base_library.zip

*.log
pixforge_pip.log
pixforge_error.log

.pixforge_settings.json
.psd_converter_gui.json

*.bak
*.tmp
*~
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

.venv/
venv/
env/
ENV/
.conda/

test/
old/
*.psd
*.psb
*.tif
*.tiff
*.tga
*.bmp
*.webp
*.heic
*.heif
*.avif

.ipynb_checkpoints/

.DS_Store
Thumbs.db
desktop.ini

!docs/*.png
!docs/*.jpg
!docs/*.jpeg